* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* shared style  */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2 {
  font-size: 45px;
  font-weight: bolder;
}
.orng-color {
  color: #FD6E0A;
}
.btn {
  background-color: #FD6E0A;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}
.about-heading {
  max-width: 827px;
  text-align: center;
}
.about-heading h2{
  font-size: 35px;
  color: #181818;
  margin-bottom: 30px;
}
.about-heading p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}




/* main style  */
header {
  background-color: #FFF8F3;
  padding-top: 50px;
  
  background : url(source/developer.png) , url(source/header_bg.png), #FFF8F3;
  background-position:center left, bottom right;
  background-repeat: no-repeat;
  
}
nav {
  width: 59%;
  max-width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu {
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}
nav .menu a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}
.Hero-sec {
  margin: 47px 38px 0 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Hero-sec .content {
  max-width: 585px;
}
.Hero-sec .content h2 {
  font-size: 45px;
  font-weight: 600px;
  color: #474747;
  margin-bottom: 5px;
}
.Hero-sec .content h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
.Hero-sec .content p {
  font-size: 18px;
  color: #757575;
  width: 585px;
  height: auto;
  margin-bottom: 30px;
}
.Hero-sec .content .hb .cv {
  background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  padding: 19px 17px;
  margin-right: 30px;
  cursor: pointer;
}
.Hero-sec .content .hb .Contact {
  font-size: 20px;
  font-weight: bold;
  color: #FD6E0A;
  cursor: pointer;
  background-color:#FFF8F3;
  border: 2px solid #FD6E0A;
  border-radius: 5px;
  padding: 19px 17px;
}
.Hero-sec .hero-img img{
 width: 585px;
 height: 676px;
 vertical-align: middle;
 
}
#about-sec {
  padding-top: 130px;
}
#about-sec .about-container {
  width: 59%;
  max-width: 1140px;
  margin: 0px auto;
  text-align: center;
  background-color: #FFF8F3;
  padding: 131px 156px;
}
.about-container .about-inf {
  display: flex;
  justify-content: space-around;
}
.about-inf .info-card p {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
.about-inf .info-card {
  font-size: 20px;
  line-height: 30px;
  color: #474747;
}